<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - {{ site.title }}</title>

   <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
  
   <link href="{{ site.path }}/css/bootstrap.min.css" rel="stylesheet">
   <link href="{{ site.path }}/css/gymreklab_styles.css" rel="stylesheet">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="{{ site.path }}/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.path }}/index.html">{{ site.title }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
	    <li><a class="active" href="{{ site.path }}/people.html">People</a></li>
	    <li><a class="active" href="{{ site.path }}/research.html">Research</a></li>
	    <li><a class="active" href="{{ site.path }}/publications.html">Publications</a></li>
	    <li><a class="active" href="{{ site.path }}/software.html">Software</a></li>
	    <li><a class="active" href="{{ site.path }}/teaching/">Teaching</a></li>
	    <li><a class="active" href="{{ site.path }}/jobs.html">Jobs</a></li>
	    <li><a class="active" href="{{ site.path }}/contact.html">Contact</a></li>
	    <li><a class="active" href="{{ site.path }}/blog/">Blog</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="content">
        {{ content }}
      </div>
    </div><!-- /.container -->

<footer>
<div class="subfooter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <address>
      <strong>Gymrek Lab</strong><br />
      University of California, San Diego<br />
      9500 Gilman Drive<br />
      La Jolla, CA 92093<br />
        </address>
      </div>
     </div>
  </div>
</div>
</footer>

</body>
</html>
